@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.header{
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
  
}
.nav{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    padding: 50px 180px;
    justify-content: space-between;
    gap: 780px;

}
.vec{
    display: flex;
    align-items:center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: end;
    color: rgb(96, 95, 95);
}
.content{
    width: 650px;
    height: 786px;
    border-radius: 50px;
    border: 1px solid rgba(222, 219, 219, 1);
    margin: 45px 395px;
    padding: 65px;
    
}
.m{
    display: flex;
    align-items: center;
    color: rgba(240, 64, 15, 1);
    gap: 150px;
}
.offerta{
    display: flex;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 29.05px; 
    align-items: center;
      
}
.offerta img{
    width: 27px;
    height: 23px;

}
.content h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    color: rgba(14, 13, 93, 1);
    margin-top: 127px;

}
.ot{
    width: 533px;
    height: 70px;
    border-radius: 20px;
    color:rgba(117, 117, 117, 1);
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 33.89px;
    justify-content: space-evenly;
    margin-top: 79px;
}
.oquv{
    color: black;
    width: 255px;
    height: 54px;
    border-radius: 15px;
    background-color: white;
    align-content: center;
    text-align: center;
}
#username{
    width: 533px;
    height: 70px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    margin-top:39px;
}
#password{
    width: 533px;
    height: 70px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    margin-top: 39px;
}
.p{
    display: flex;
    align-items: center;
    position: relative;
}
.span{
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
    font-size: 10px;
}
.content img{

}





















#btn{
    width: 202px;
    height: 67px;
    border-radius: 20px;
    background-color: rgb(247, 95, 40);
    margin-top: 32px;
    margin-left: 300px;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}
.coin{
    width: 60px;
    height: 60px;
}
.co{
    display: flex;
    align-items: center;
}
.ins{
    display: flex;
    align-items: center;
}
.div{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
    font-size: 40px;
    align-items: center;
    background-color: rgb(224, 74, 20);
    border-radius: 5px;
}
.content h2{
    font-size: 20px;
}